{% extends 'blog/base.html' %}

{% block title %} Demo blog {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div id="postlist">
                {% if post_list %}
                    {% for post in post_list %}
                        <div class="panel">
                                <div class="panel-heading">
                                    <div class="text-center">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <h3 class="pull-left">{{ post.title }}</h3>
                                            </div>
                                            <div class="col-sm-3">
                                                <h4 class="pull-right">
                                                <small><em>{{ post.create_date }}</em></small>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            <div class="panel-body">
                                <a href="#" class="thumbnail">
                                    <img alt="Image" src="{{ post.image.url }}">
                                </a>
                                {% if post.excerpt %}
                                    {{ post.excerpt }}
                                {% else %}
                                    {{ post.body|truncatechars:400 }}
                                {% endif %} <a href="{% url 'blog:detail_view' slug=post.slug %}">Read more</a>
                            </div>
                            
                            <div class="panel-footer">
                                {% for category in post.categories.all %}<span class="label label-default">{{ category.name }}</span> {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="text-center"><a href="#" id="loadmore" class="btn btn-primary">Older Posts...</a></div>
                    {% else %}

                    <h3>No Posts Yet...<h3>
                
                    {% endif %}
                </div>
            </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

{% endblock %}